{% extends 'base.html.twig' %}

{% block body %}
    <h1>Il semble y avoir un problème</h1>

    <p>
    <a href="{{ path('homepage') }}">Cliquez ici pour retourner sur la page d'accueil</a>.
    </p>
{% endblock %}
