{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vous ne disposez pas des droits pour accéder à cette page</h1>

    <p>
     <a href="{{ path('homepage') }}">Retour à la page d'accueil</a>.
    </p>
{% endblock %}