{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    <p>
        La page demandée est introuvable. Vérifiez que l'URL ne contienne pas de fautes d'orthographe ou <a href="{{ path('homepage') }}">retournez sur la page d'accueil</a>.
    </p>
{% endblock %}